body {
margin: 0;
padding: 0;
font-family: 'Segoe UI', sans-serif;
background: #f1f4f8;
}

.header {
background: #6fa7eb;
color: white;
padding: 40px 20px;
text-align: center;
letter-spacing: 1px;
}

.header h1 {
margin: 0;
font-size: 38px;
font-weight: 700;
}


.header p {
margin-top: 10px;
font-size: 17px;
opacity: 0.85;
}


.container { 
position: relative;
max-width: 850px;
background: white;
margin: 50px auto;
padding: 35px;
border-radius: 12px;
top: 180px;
box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}


h2 {
text-align: center;
color: #003c82;
margin-bottom: 20px;
}


.grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}


label {
font-weight: bold;
margin-top: 12px;
display: block;
}


input, select, textarea {
width: 100%;
padding: 10px;
border-radius: 8px;
border: 1px solid #888;
margin-top: 5px;
font-size: 15px;
}


textarea {
resize: vertical;
}


button {
width: 100%;
padding: 15px;
margin-top: 20px;
font-size: 18px;
border: none;
border-radius: 8px;
background: #005ecb;
color: white;
cursor: pointer;
}


button:hover {
background: #003c82;
}


@media(max-width: 768px) {
.grid {
grid-template-columns: 1fr;
}
}

nav {
    position: relative;
    top: -20px;
}

#hprincipal h3{
position: absolute;
font-size: 70px;
width: 450px;
left: 57%;
top: 260px;        
text-align: center;    
margin: 50px;   
color: rgb(7, 21, 111);
box-shadow: 5px 5px 15px rgb(63, 63, 63);
border-radius: 80px;
animation: moverImagen 5s ease-in-out infinite; 
}
@keyframes moverImagen {
0% {
transform: translateX(0); 
}
50% {
transform: translateX(100px); 
}
100% {
transform: translateX(0); 
}

}  
.logo{
position: absolute; 
width:240px;
height:200px;
top:220px;
left:40%;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;}

.call {
    position: absolute;
    top: -20px;
    left:-40%;
}