

.container{
 position: relative;
 width:100%;
height: 650px;
top: 150px;


}


h1,h2
{
 margin:0;
 font-size:50px;
 color: rgb(34, 57, 205);
}

#hprincipal h3{
position: absolute;
font-size: 70px;
width: 450px;
left: 47%;
top: 20px;        
text-align: center;    
margin: 50px;   
color: rgb(7, 21, 111);
box-shadow: 5px 5px 15px rgb(63, 63, 63);
border-radius: 80px;
animation: moverImagen 5s ease-in-out infinite; 
}
@keyframes moverImagen {
0% {
transform: translateX(0); 
}
50% {
transform: translateX(100px); 
}
100% {
transform: translateX(0); 
}

}  
.logo{
position: absolute; 
width:240px;
height:200px;
top:40px;
left:35%;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;}

.call {
    position: absolute;
    left: 45%;
}