
footer#fprincipal{
    position: relative;
    width: 100%; 
    height: 100px;
    text-align: center;
    background-color: #fcfcff;
    color: #131313;
    
}
footer#principal small{
    position: relative;
    top: 30px;
}