
*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../assets/image1.jpg);
    font-family:  Arial;
}

#nav_principal,
#contenedor_principal,
#footer_principal .content_principal

{
    position: relative;
    width: 656px;
    margin: auto;
}

main{
    position: relative;
    border: 1px solid #000;
    width: 1500px;
    min-height: 700px;
    margin: 20px auto;
    background-color: white;
}


header#hprincipal .logo{
    position: absolute; 
    width: 200px;
    height: 180px;
    top: 60px;
    left: 10px;
    background-image: url(../assets/la_oportunidad_436x400.png);
    background-size: 100%;
}


#hprincipal h3{
    position: absolute;
    font-size: 70px;
    left: 550px;
    top: 40px;
     font-family:cursive;
     color: #0d47a1;
     background-color:white
    
}
#title_{
    position:relative;
    left: 830px;
   
}

#galeria{

    position:absolute;  
  width:200px;
  height:200px;
    left: -400px;
    top: 450px;
    display: flex;
   
}
#text{
    position: absolute;
    left: 840px;
    top: 130px;
}

