body{
margin:0;
font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:1px;
}

.intro{
background:rgb(207, 221, 250);
padding:20px;}

.grid{
display:grid;
grid-template-columns:64px 1fr auto;
gap:10px;
align-items:center}

.avatar{
width:64px;
height:64px;
border-radius:24px;
overflow:hidden;
}
.avatar-place{
width:64px;
height:64px;
background: #2563eb;
display:flex;
align-items:center;
justify-content:center;
color:white;    
font-weight:700;
border-radius:10px}

.intro h1{ margin:0; font-size:40px}   
.rol{margin:2px ; color:rgb(55, 55, 55)} .local{ margin:0; font-size:15px; color:rgb(56, 55, 55) }


.btn{
    display:inline-block;
    padding:10px 10px;
    border-radius:10px;
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    border:none;
    font-weight:600}

.main-grid{
    position: relative;
    height: 1300px;
display:grid; 
grid-template-columns:2fr 1fr; 
gap:10px; 
padding:8px }


.card{ 
    position: relative;
    height: 500px;
    top: 90px;
    right: 25%;
    background:rgb(207, 221, 250);
    padding:30px;
    border-radius:18px;
    }

.contact-form input, .contact-form textarea{
width:100%;
padding:10px;
border:1px solid rgba(15,23,42,0.06);
border-radius:8px
}

h2 , h3{
color: #0037ae;
}
#contacto a {
 text-decoration: none;
color: #0037ae;
font-size: 25px;
 font-weight: bold
}


