nav{
   
    position: relative;
    width: 100%;
    background-color:rgb(47, 47, 48);
}
 

nav  li a{
    display:inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px;
    color: #cfcfd2;
    background-color:rgb(47, 47, 48);
 }

 nav ul li a:hover,
 nav  ul li a.activo{
    background-color:rgb(36, 56, 232);
 }
nav > li {float:inline-end;} 

nav li ul{
    display:none ;
    position: absolute;
    min-width:140px; 
   
}
nav li:hover > ul {
    display: block;
}
 ul{position: relative;
    display: flex;
    list-style:none;
    
  }