 body {
      margin: 0;
       font-family: 'Poppins', sans-serif;
      background: #e3f2fd;
      margin: 0;
      padding: 0;
  
    }

    .about-container {
      width:800px;
      margin: 100px auto;
      background: white;
      border-radius: 40px;
      padding: 80px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
      color: #1565c0;
      font-size: 2.2em;
      margin-bottom: 30px;
    }

    .about-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .about-content img {
      width: 45%;
      border-radius: 12px;
    }

    .about-text {
      width: 50%;
    }

    .about-text p {
      line-height: 1.7;
      font-size: 1.05em;
    }

    .section-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
    }

    .card {
      background-color: #bbdefb;
      border-radius: 12px;
      width: 320px;
      text-align: center;
      padding: 25px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card h3 {
      color: #0d47a1;
      margin-bottom: 15px;
    }

    .card p {
      line-height: 1.6;
      font-size: 1em;
    }

    @media (max-width: 868px) {
      .about-content {
        flex-direction: column;
      }
      .about-content img, .about-text {
        width: 100%;
      }
      .card {
        width: 130%;
      }
    }
   