 body {
     
       font-family: 'Poppins', sans-serif;
      background: #cbdde9;
     
  
    }

    main {
      position:absolute;
      width: 100%;
      height:1600px;
      align-content: center;
      background-color: rgb(255, 255, 255);
    }
    
        .logo{
        position: absolute; 
        width:240px;
        height:200px;
        top:40px;
        left:85%;
        background-image: url(../assets/la_oportunidad_436x400.png);
        background-size: 100%;
        }

        nav {
          position: relative;
          top: -190px
        }

        .about-container { 
      position: relative;
      height: 850px;
      width:1200px;
      margin: 100px auto;
      background-color: rgb(231, 242, 255);
      border-radius: 40px;
      padding: 80px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
      color: #1565c0;
      font-size: 2.2em;
      margin-bottom: 30px;
    }

    .about-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .about-content img {
      width: 45%;
      border-radius: 12px;
    }

    .about-text {
      width: 50%;
    }

    .about-text p {
      line-height: 1.7;
      font-size: 1.05em;
    }

    .section-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
    }

    .card {
      background-color: #bbdefb;
      border-radius: 12px;
      width: 320px;
      text-align: center;
      padding: 25px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card h3 {
      color: #0d47a1;
      margin-bottom: 15px;
    }

    .card p {
      line-height: 1.6;
      font-size: 1em;
    }

    @media (max-width: 868px) {
      .about-content {
        flex-direction: column;
      }
      .about-content img, .about-text {
        width: 100%;
      }
      .card {
        width: 130%;
      }
    }
    footer#fprincipal{
    position: relative;
    width: 100%; 
    height: 100px;
    top:1500px;
    text-align: center;
    background-color: #272728;
    color: #e0e0e0;}
  
    .col {
      position: relative;
      top: -11px;
    }
      #hprincipal h3{
      position: absolute;
      font-size: 70px;
      width: 450px;
      left: 2%;
      top: 160px;        
      text-align: center;    
      margin: 50px;   
      color: rgb(7, 21, 111);
      box-shadow: 5px 5px 15px rgb(63, 63, 63);
      border-radius: 80px;  

      }

      .tb {
        position: absolute;
        top: 30px;
        right: 25%;
        animation: moverImagen 5s ease-in-out infinite; 
        }
        @keyframes moverImagen {
        0% {
        transform: translateX(0); 
        }
        50% {
        transform: translateX(100px); 
        }
        100% {
        transform: translateX(0); 
        }

        }