*{
 border: 0px;
    padding: 0px;
    margin: 0px;
    
}

 body{
font-family:  Arial; }
   
    main {
        position: relative;
        width: 1520px;
        height: 1100px;
        margin: 7px;
        background-color: rgb(225, 234, 255);}
    
    .hprincipal h3{
    position: absolute;
    font-size: 70px;
    width: 450px;
    left:35%;
    top: -1px;        
    text-align: center;    
    margin: 50px;   
    color: rgb(7, 21, 111);
    box-shadow: 5px 5px 15px rgb(63, 63, 63);
    border-radius: 80px;
    background-color: white;
    animation: moverImagen 5s ease-in-out infinite; 
}
@keyframes moverImagen {
0% {
transform: translateX(0); 
}
50% {
transform: translateX(100px); 
}
100% {
transform: translateX(0); 
}

}  

.logo{
position: absolute; 
width:240px;
height:200px;
left:10px;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;
animation-name: rotar-360;
animation-duration: 20s;}

.cv-container { 
    position: relative;
    width: 70%;
    height: 800px;
    top: 200px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

h2 {
    color: rgb(29, 59, 255);
}
 h1 {
    position: relative;
    text-align: center;
    color: rgb(3, 18, 112);
 }
 button {
    margin-top: 20px;
    padding: 12px;
    background: #2563eb;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}