 body {
      font-family: 'Poppins', sans-serif;
      background: #e3f2fd;
      margin: 0;
      padding: 0;
      background-image: url(../assets/image1.jpg);
    }
    
    
    .container {
      min-width: 800px;
      margin: 80px auto;
      background: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow:  4px 10px rgba(12, 37, 164, 0.1);
    }

    h2 {
      text-align: center;
      color: #0d47a1;
      margin-bottom: 20px;
    }

    .filters {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    select, input {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      width: 200px;
    }

    .jobs {
      display: grid;
     
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      gap: 20px;
    }

    .job-card {
      background: #bbdefb;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }

    .job-card h3 {
      margin-top: 0;
      color: #0d47a1;
    }

    .job-card button {
      background: #1565c0;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
    }

    .job-card button:hover {
      background: #0d47a1;
    }