 body {
      font-family: Arial, Helvetica, sans-serif;
      background: #eaecec;
      margin: 0;
      padding: 0;
      
    } 
   
    main { 
      position: relative;
      

    }

    .container {
     position: relative;
        margin: 80px auto;
      background: #0d47a1;
      padding: 30px;
      border-radius: 15px;
      top: -200px;

    }

    h2 {
      position: relative;
      top: -170px;
      text-align: center;
      color: #0d47a1;
      margin-bottom: 20px;
    }

    .filters {
      position: relative;
      top: -160px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    select, input {
      position: relative;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #0d47a1;
      width: 200px;
    }

    .jobs {
      display: grid;
     
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      gap: 20px;
    }

    .job-card1{
      position: relative;
      width: 900px;
      height: 200px;
      top: -130px;
      background: #bbdefb;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }

    h3 {color: #00388c;}  strong {color:#0066ff;}   p {color:hsl(0, 0%, 27%);}
      
    button {
      position: relative;
      background-color: #0d47a1;
      color: rgb(255, 255, 255);
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background: #410e8d;
    }
    
      #hprincipal h3{
      position: relative;
      font-size: 70px;
      width: 450px;
      left: 47%;
      top: -1px;        
      text-align: center;    
      margin: 50px;   
      background-color: white;
      color: rgb(7, 21, 111);
      box-shadow: 5px 5px 15px rgb(63, 63, 63);
      border-radius: 80px;  }

      .fonhe{
        position: absolute;
        right: 65%;
        top: -30px;
        
      }
      .ph{
        position:absolute;
       left: 72%;
       
      }
      .ide{
        position: absolute;
        top: 1750px;
        left: 70%;
      }
      .rd{
        position: absolute;
        top:2750px;
        left: 43%;
      }
      .mv {
        position: absolute;
        top: 1700px;;
      }

      .text {
        position: relative;
        text-align: center;
        top: 700px;;
      }
      .text h1{
        color: rgb(7, 21, 111);
      }

      .int {
        position: relative;
        height: 200px;
        background-color: rgb(7, 21, 111);;
        top: 1050px;
        justify-content: center;
      }
      .int h2 {color: white;}   .int p {color: #fffefe;}

      footer {
    position: relative;
    width: 100%; 
    height: 150px;
    text-align: center;
    background-color: #fcfcff;
    color: #131313;
    background-image: url(../assets/nnn.jpg);
      }