 body {
      font-family: Arial, Helvetica, sans-serif;
      background: #eaecec;
      margin: 0;
      padding: 0;
      
    }
  
    .container {
      position: relative;
      height: 1000px;
      min-width: 800px;
      margin: 80px auto;
      background: rgb(151, 150, 150);
      padding: 30px;
      border-radius: 15px;
      top: 400px;

    }

    h2 {
      text-align: center;
      color: #0d47a1;
      margin-bottom: 20px;
    }

    .filters {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    select, input {
      position: relative;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #785b5b;
      width: 200px;
    }

    .jobs {
      display: grid;
     
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      gap: 20px;
    }

    .job-card1{
      position: relative;
      width: 900px;
      height: 200px;
      top: 50px;
      background: #bbdefb;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }

    .job-card h3 {
      margin-top: 0;
      color: #0d47a1;
    }

    .job-card button {
      background: #1565c0;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
    }

    .job-card button:hover {
      background: #0d47a1;
    }
    
      #hprincipal h3{
      position: absolute;
      font-size: 70px;
      width: 450px;
      left: 47%;
      top: -1px;        
      text-align: center;    
      margin: 50px;   
      color: rgb(7, 21, 111);
      box-shadow: 5px 5px 15px rgb(63, 63, 63);
      border-radius: 80px;  }

      .fonhe{
        position: absolute;
        right: 60%;
        top: 20px;
      }
      .ph{
        position:absolute;
       left: 72%;
       
      }
      .ide{
        position: absolute;
        top: 1650px;
        left: 70%;
      }
      .rd{
        position: absolute;
        top:2750px;
        left: 43%;
      }
      .mv {
        position: absolute;
        top: 1600px;;
      }

      .text {
        position: relative;
        text-align: center;
        top: 500px;;
      }
      .text h1{
        color: rgb(7, 21, 111);
      }

      .int {
        position: relative;
        height: 200px;
        background-color: rgb(7, 21, 111);;
        top: 1050px;
        justify-content: center;
      }
      .int h2 {color: white;}   .int p {color: #fffefe;}