    body{
    font-family: 'arial';
    }

    main{
    
    width: 100%; 
    height: 2200px; 
    justify-content: center; 
    align-items: center; 
    background-color:#e6f2ff;
     }


.bloque1{
 position: relative;
width: 700px;           
height: 290px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
top: 650px;
right: -1%;
text-align:center;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}

.bloque2{
 position: relative;
width: 650px;           
height: 350px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 105%;
top: 120px;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.bloque3{
 position: relative;
width: 250px;           
height: 350px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
right: 4%; 
top: -300px;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.bloque4{
 position: relative;
width: 250px;           
height: 350px;           
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 118%;
top: -18px;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.n1 { font-size: 38px;} 
.im1 { position: relative;right: 32%; display: flex; flex-direction: column; align-items: center;top: 25px; }
.im2 { position: relative;right: -1%; display: flex; flex-direction: column; align-items: center;top: 25px; }
.im3 { position: relative;left:  32%; display: flex; flex-direction: column; align-items: center;top: -225px; }

.bloque5{
 position: relative;
width: 800px;           
height: 290px;            
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 250%;
top: 58px;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.bloque6{
 position: relative;
width: 680px;          
height: 590px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
top: -1440px;
right: -12%;
text-align:center;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.logo{
position: absolute; 
width:240px;
height:200px;
top:-5px;
left:10px;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;
    animation-name: rotar-360;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
@keyframes rotar-360 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
  } 


.nn{
    position: absolute;
    left: 22%;
    top: 450px;
}

nav{
    position: relative;
    top: -50px;
}

.header {
    position: relative;
    height: 120px;
    background: #0077cc;
    padding: 50px 20px;
    text-align: center;
    color: white;
}

.header h1 { 
    position: relative;
    font-size: 50px;
    top: -10px;
    margin-bottom: 10px;
}

.header p {
     position: relative;
      top: -20px;
    font-size: 28px;
}
.mundo {
    position: absolute;
    left: 70%;
    top: 250px;
}

.ajuste {
    position: absolute;
    left: 0%;
    top: 550px;
}