    body{
    font-family: 'arial';
    }

    main{
    
    width: 100%; 
    height: 1900px; 
    justify-content: center; 
    align-items: center; 
    background-color:#ffffff;
    top: -410px; }


.bloque1{
 position: relative;
width: 700px;           
height: 290px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
top: 150px;
right: -1%;
text-align:center;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}

.bloque2{
 position: relative;
width: 650px;           
height: 350px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 105%;
top: 120px;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}


.bloque3{
 position: relative;
width: 250px;           
height: 350px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
right: 4%; 
top: -300px;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}
.bloque4{
 position: relative;
width: 250px;           
height: 350px;           
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 118%;
top: -18px;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}
.n1 { font-size: 38px;} 
.im1 { position: relative;right: 32%; display: flex; flex-direction: column; align-items: center;top: 25px; }
.im2 { position: relative;right: -1%; display: flex; flex-direction: column; align-items: center;top: 25px; }
.im3 { position: relative;left:  32%; display: flex; flex-direction: column; align-items: center;top: -225px; }

.bloque5{
 position: relative;
width: 800px;           
height: 290px;            
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
left: 250%;
top: 58px;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}

.bloque6{
 position: relative;
width: 680px;          
height: 590px;          
background-color: #ffffff; 
padding: 20px;      
border-radius: 80px; 
text-align: center;
top: -1440px;
right: -12%;
text-align:center;
box-shadow: 5px 5px 15px rgb(90, 109, 252);
}

nav{
    position: relative;
    min-width: 100%;
    background-color:rgb(47, 47, 48);
    top: -380px;
}
nav.menu {
position: relative;
width: 1000px;
height: 55px;
}

nav  li a{
    height: 35px;
    display:inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px;
    color: #cfcfd2;
    background-color:rgb(7, 21, 111);
 }

 nav ul li a:hover,
 nav  ul li a.activo{
    background-color:rgb(7, 21, 111);
 }
nav > li {float:inline-end;} 

nav li ul{
    display:none ;
    position: absolute;
    min-width:140px; 
   
}
nav li:hover > ul {
    display: block;
}
 ul{
    display: flex;
    list-style:none;
    
  }
  
.logo{
position: relative; 
width:240px;
height:200px;
left:3%;
top: 200px;
border-radius: 180px;


  }

  #hprincipal h3{
position: relative;
font-size: 70px;
width: 550px;
left: 50%;
top:-130px;        
text-align: center;    
margin: 50px;   
color: rgb(7, 21, 111);
box-shadow: 5px 5px 15px rgb(90, 109, 252);
border-radius: 80px;  
background-color: white;

}

.nn{
    position: absolute;
    left: 28%;
    top: 70px;
}