body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #e6f2ff;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height:850px;
}

.header {
     position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondo {
    position: absolute;
    opacity: 0.3;
}
.header .overlay {
    background: #0077cc;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 70px;
    font-weight: 900;
}

.header h1 {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 900;
}

.header p {
    font-size: 18px;
    margin-top: 0;
}


.reclutador-section { 
    position: relative;
    top: 800px;
    padding: 40px 20px;
    text-align: center;
}

.reclutador-section ,h2  {
    position: absolute;
    text-align: center;
    font-size: 32px;
    color: #0073e6;
    margin-bottom: 30px;
    right: 20%;
    top: 100px;
    font-size: 48px;
}

.reclutador-grid {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.ren {
    position: absolute;
    top: 200px;
}
.reclutador-card {
    position: relative;
    top: 120px;
    width: 290px;
    left:12%;
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.reculutador-card:hover {
    transform: translateY(-5px);
}


.reclutador-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #bcdcff;
}

.reclutador-card h3 {
    margin: 5px 0;
    font-size: 22px;
    color: #003366;
}

.role {
    color: #0073e6;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #444;
    font-size: 14px;
    margin-bottom: 18px;
}

.btn {
    background: #005bb5;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #004a94;
}
 .logo {
    position: absolute; 
width:240px;
height:200px;
top:5px;
left:10px;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;
    animation-name: rotar-360;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
@keyframes rotar-360 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}