body {
font-family: Arial, sans-serif;
background-color: #d9eaff; 
margin: 0;
padding: 0;
}
.container {
    position: relative;
width: 100%;
max-width: 600px;
background: white;
margin: 40px auto;
padding: 65px;
border-radius: 12px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
top: 220px;
right: 20%;
}
h2 {
text-align: center;
color: #004a8f;
}
label {
font-weight: bold;
margin-top: 15px;
display: block;
}
input, select, textarea {
width: 100%;
padding: 10px;
margin-top: 5px;
border-radius: 8px;
border: 1px solid #aaa;
}
button {
width: 100%;
padding: 12px;
margin-top: 20px;
background-color: #005ecb;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
}
button:hover {
background-color: #003f8a;
}
.logo {
    position: absolute; 
width:240px;
height:200px;
top:95px;
left:10px;
background-image: url(../assets/la_oportunidad_436x400.png);
background-size: 100%;
}
#hprincipal h3{
      position: absolute;
      font-size: 70px;
      width: 450px;
      left: 15%;
      top: 140px;        
      text-align: center;    
      margin: 50px;   
      background-color: white;
      color: rgb(7, 21, 111);
      box-shadow: 5px 5px 15px rgb(63, 63, 63);
      border-radius: 80px;  }

      .fonhe{
        position: absolute;
        left:101%;
        top: -180px;
        
      }