  body {
            font-family: Arial, sans-serif;
            background: #d6eaff; 
            margin: 0;
            padding: 0;
        }

        .container {
           position: relative;
            width: 100%;
            max-width: 430px;
            margin: 20px auto;
            padding: 100px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 0 15px rgba(0,0,0,0.15);
            left: 100px;
            
        }

        h1 {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            color: #003d80;
            
        }

        label {
            position: relative;
            font-weight: bold;
            display: block;
            margin: 10px 0 5px;
            top: -110px;
            
        }

        input, select {
            position: relative;
            width: 100%;
            padding: 10px;
            border: 1px solid #a8a8a8;
            border-radius: 6px;
            margin-bottom: 15px;
            top: -110px;
            
        }

        button {
            position: relative;
            width: 100%;
            padding: 12px;
            background: #0066cc;
            color: white;
            border: none;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
            top: -70px;
        }

        button:hover {
            background: #004a99;
        }

        .login-link {
            text-align: center;
            margin-top: 12px;
        }

        .login-link a {
            color: #0066cc;
            text-decoration: none;
        }

        .login-link a:hover {
            text-decoration: underline;
        }

        #imagen{
        position:relative;
        width: 200px;
        height: 200px;
       left: -700px;
        top: -110px;
        }

       